@use "../util" as u;
@use "../global" as g;

.blog {
  @include g.mq-desktop {
    padding-block-start: u.rem(40);
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / -1;
  }

  display: grid;
  gap: u.rem(30);

  &__item {
    display: grid;
    grid-template-columns: u.rem(100) auto;
    grid-template-rows: repeat(3, auto);
    column-gap: u.rem(24);
  }

  &__image {
    grid-row: 1 / 4;
  }

  &__number {
    font-size: var(--f-m);
    color: var(-c--silver);
    font-weight: 700;
    line-height: 1;
  }

  &__headline {
    align-self: center;

    a {
      font-size: var(--f-xs);
      color: var(--c-blue);
      font-weight: 800;
      line-height: 1.1;
    }
  }

  &__description {
    align-self: self-end;
  }
}
