@use "../util" as u;

.feature {
  display: grid;
  gap: u.rem(24);
  &__img {
  }
  &__heading {
    font-size: u.rem(40); // fallback for old browsers
    font-size: var(--f-xl);
    font-weight: 800;
  }
  &__btn {
    display: inline-block;
    background-color: var(--c-red);
    color: var(--c-white);
    padding: u.rem(12) u.rem(32);
    letter-spacing: 0.31em;
    font-weight: 700;
    font-size: u.rem(14);
    text-transform: uppercase;
    justify-self: self-start;
    cursor: pointer;
  }
}
