@use "../util" as u;
@use "../global" as g;

.header {
  @include g.mq-desktop {
    display: flex;
    justify-content: space-between;
    padding-block: u.rem(90) u.rem(55);
  }

  &__links {
    @include g.mq-desktop {
      display: flex;
      gap: u.rem(40);
    }

    &:hover {
      color: var(--c-red);
    }
  }

  &__logo {
    width: u.rem(45);

    @media (width >= u.rem(1110)) {
      width: u.rem(65);
    }
  }

  &__links {
    color: var(--c-blue);
    font-size: var(--f-xs);
    line-height: 1.3;

    @include g.mq-desktop {
      color: var(--c-gray);
      font-size: var(--f-body);
    }
  }
}
