@use "../util" as u;
@use "../global" as g;

.nav {
  button {
    background: none;
    border: none;
    padding: 0 0;

    @include g.mq-desktop {
      display: none;
    }
  }

  &__open[aria-expanded="true"] {
    ~ .nav__content {
      translate: 0;
    }

    ~ .nav__overlay {
      opacity: 0.5;
    }
  }

  &__content {
    @include g.mq-mobile {
      display: none;
      position: fixed;
      inset: 0 0 0 u.rem(120);
      background-color: var(--c-white);
      padding: u.rem(30);
      translate: 100vw 0;
      transition: translate 500ms ease-in-out;
    }
  }

  &__close {
    display: block;
    margin-inline-start: auto;
    margin-block-end: u.rem(86);
  }

  &__overlay {
    display: none;
    opacity: 0;
    position: fixed;
    inset: 0;
    background-color: var(--c-blue);
    transition: opacity 300ms ease-in-out;
    pointer-events: none;
  }
}
